.parallax-window {
    min-height: 400px;
    background: transparent;
}
.parallax-slider {
    min-height: 900px;
    background: transparent;
}
.parallax-container {
    min-height: 300px;
    padding-top: 30px;
    color: #e3769f;
    text-align: center;
}
.adjust-one {
    margin: 150px 0px;
    text-align: center;
}
.adjust-two {
    margin: 80px 0px;
    text-align: center;
}
.circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    padding: 80px;
    margin: 20px;
    color: #fff;
    text-align: center;
    font-size: 40px;
}
.center {
    text-align: center;
    padding-top: 380px;
}
h1 {
    font-size: 100px;
    font-family: 'Lobster', cursive, Helvetica, Sans-Serif;
}
h2 {
    font-size: 50px;
    color: #e683c2;
}
p {
    color: #f79ed7;
}
